:root {
  --body-font: 'Roboto', sans-serif;
  --heading-font: "Poppins", sans-serif;
  --theme-color: #F65801;
  --color-white: #ffffff;
  --color-dark: #002C5B;
  --body-text-color: #757F95;
  --box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
  --transition: all .5s ease-in-out;
}

.feature-area {
  position: relative;
  z-index: 1;
}

.feature-item {
  background: #73BAAA;
  border-radius: 30px;
  padding: 30px;
  box-shadow: var(--box-shadow);
  position: relative;
  transition: var(--transition);
color: white !important;
}

.feature-item:hover {
  transform: translateY(-10px);
  border: 1px solid #0A2155 !important;
}

.feature-item .count {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 70px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px var(--body-text-color);
  opacity: 0.2;
}

.feature-icon {
  width: 85px;
  height: 85px;
  line-height: 78px;
  text-align: center;
  background: var(--theme-color);
  border-radius: 50px;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon::before {
  content: "";
  position: absolute;
  inset: 4px;
  border: 2px dashed var(--color-white);
  border-radius: 50px;
}

.feature-icon img {
  width: 45px;
  filter: brightness(0) invert(1);
}

.feature-content h4 {
  color: white !important;
  font-family: var(--heading-font);
  margin-bottom: 10px;
}

.feature-content p {
  color: white !important;
  font-size: 18px !important;
  line-height: 1.5 !important;
}

/* Responsive */
@media (max-width: 992px) {
  .feature-item {
    margin-bottom: 20px;
  }
  .feature-item .count {
    font-size: 50px;
  }
}
