.process-item{
    background-color: #73BAAA;
}
.count
{
    color: white !important;
}
.content h4
{ 
    color: white !important;
}
.content p
{
    color: white !important;
    font-size: 17px !important;
}